[worldserver]

#
###################################################################################################

###################################################################################################
#
#     AutoBalance.MinHPModifier
#        Minimum Modifier setting for Health Modification
#        Default:     0.01

AutoBalance.MinHPModifier=0.01

#
#     AutoBalance.MinManaModifier
#        Minimum Modifier setting for Mana Modification
#        Default:     0.01

AutoBalance.MinManaModifier=0.01

#
#     AutoBalance.MinDamageModifier
#        Minimum Modifier setting for Damage Modification
#        Default:     0.01

AutoBalance.MinDamageModifier=0.01

#
#     AutoBalance.rate.*
#        You can tune all rates increasing/decreasing difficulty in a linear way
#        Note that global rate will increase all other rates. For example:
#        global = 2.0 , damage = 1.5  -> it means that damage will be 3.0
#        Default:     1.0

AutoBalance.rate.global = 1.0
AutoBalance.rate.health = 1.0
AutoBalance.rate.mana   = 1.0
AutoBalance.rate.armor  = 1.0
AutoBalance.rate.damage = 1.0
